.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #2372d9;
  min-height: 64px;
  height: max-content;
  color: white;
}

.header a {
  text-decoration: none;
  color: white;
}

.header-left-content {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  height: 100%;
  padding: 0px 16px;
  cursor: pointer;
}

.header-button:hover {
  height: 100%;
  background-color: #6da7f2;
}

.header-right-content {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.perfil-image {
  height: 48px;
  width: 48px;
  margin-right: 8px;
}

.perfil-username {
  margin-right: 24px;
}

.logout {
  display: inline-block;
  color: #545454;
  background-color: #eee;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(20, 15, 15, 0.3);
  border-bottom-width: 3px;
  cursor: pointer;
}

.logout {
  background-color: #034c8c;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.logout:hover {
  background-color: #023e73;
  border-color: rgba(0, 0, 0, 0.5);
}

.logout:active {
  background-color: #021f59;
  border-color: rgba(0, 0, 0, 0.9);
}
