.paper {
  background-color: white;
  height: 340px;
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.paper form {
  max-width: 100%;
}

.register-cpf {
  display: flex;
  flex-direction: column;
  margin: 16px 64px;
  max-width: 100%;
}

.register-password {
  display: flex;
  flex-direction: column;
  margin: 16px 64px;
}

.register-buttons {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: 25%;
}

label {
  align-self: flex-start;
  margin-left: 8px;
  margin-bottom: 4px;
  font-size: 20px;
  color: #545454;
}

input {
  height: 56px;
  font-size: 24px;
  border-radius: 7px;
  outline: none;
  border: 2px solid #d3d3d3;
  padding: 0px 16px;
  color: #545454;
}

input:hover {
  border: 2px solid #949494;
}

.register-buttons .btn {
  margin-top: 24px;
  display: inline-block;
  color: #545454;
  background-color: #eee;
  font-size: 24px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(20, 15, 15, 0.3);
  border-bottom-width: 3px;
  cursor: pointer;
}

.register-buttons .btn-blue {
  background-color: #034c8c;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.register-buttons .btn-blue:hover {
  background-color: #023e73;
  border-color: rgba(0, 0, 0, 0.5);
}

.register-buttons .btn-blue:active {
  background-color: #021f59;
  border-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 400px) {
  label {
    font-size: 16px;
  }
  input {
    font-size: 20px;
  }
  div.btn {
    font-size: 20px;
  }
}
